@font-face {
  font-family: Gilroy-ExtraBold;
  src:
    url("../fonts/gilroyextrabold.woff") format("woff");
url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: Gilroy-Light;
  src:
    url("../fonts/gilroylight.woff") format("woff");
url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans;
  src:
    url("../fonts/opensans.woff") format("woff");
url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans-Light;
  src:
    url("../fonts/opensanslight.woff") format("woff");
url("../fonts/opensanslight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: #000000;
  text-decoration: none;
}

.header-main {
  background-color: #f8e297;
}

.main-header-logo:hover {
   opacity: 0.6;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.main-user-navigation,
.main-site-navigation,
.dropdown {
  list-style: none;
}

.search-input {
  box-sizing: border-box;

  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-input:placeholder-shown {
  opacity: 0.3;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus,
.search-input:active{
  border-bottom: 2px solid #000000;
}

.search-input:focus + .search-button,
.search-button:active {
  display: inline-block;
}

.search-button {
  box-sizing: border-box;
  display: none;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  outline: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: #ffffff;

  background-color: #000000;
  opacity: 0.3;
}

.main-logout-link {
  opacity: 0.3;
}

.main-login-link:hover,
.main-logout-link:hover,
.main-compare-link:hover,
.main-cart-link:hover,
.user-name-link:hover {
  opacity: 0.6;
}

.main-login-link:active,
.main-logout-link:active,
.main-compare-link:active,
.main-cart-link:active,
.user-name-link:active {
  opacity: 0.3;
}

.site-nav-element a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-nav-element a:hover {
  opacity: 0.6;
}

.site-nav-element a:active {
  opacity: 0.3;
}

.dropdown {
  display: none;
}

.site-nav-element:hover .dropdown,
.dropdown:hover {
  display: flex;
}

.dropdown-element a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.slides-list {
  list-style: none;
}

.slide-number {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  color: #000000; /*должен быть белым в итоговой верстке*/
}

.slide-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f0c52e;
}

.button:hover {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f0c52e;
}

.button:active span{
  opacity: 0.3;
}

.first-row {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.second-row {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.section-list {
  list-style: none;
}

.section-item div{
  background-color: #f8e297;
}

.section-item span {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.section-item:hover div {
  background-color: #f0c52e;
}

.section-item:active img,
.section-item:active span {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.services-list {
  list-style: none;
}

.services-button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  background-color: #f0c52e;
  border: none;
}

.services-button:active {
  color: #f7e184;

  background-color: #000000;
}

.service-item h3{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.service-item p{
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.logotypes-list {
  list-style: none;
}

.product-logo {
  filter: grayscale(1);
  opacity: 0.3;
}

.product-logo:hover {
  filter: none;
  opacity: 1;
}

.about-us h2,
.contacts h2{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.about-us p,
.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.delivery-companies a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.footer-main {
  color: #ffffff;

  background-color: #464646;
}

.footer-logo:hover,
.htmlacademy-logo:hover {
  opacity: 0.6;
}

.footer-logo:active,
.htmlacademy-logo:active {
  opacity: 0.3;
}

.footer-social li {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social li:hover {
   opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}

.footer-contacts-address {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer-list {
  list-style: none;
}

.footer-site-navigation li:hover {
  opacity: 0.6;
}

.footer-site-navigation li:active {
  opacity: 0.3;
}

.footer-social li {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social li:hover {
  opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}

.footer-list a{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-user-navigation a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}

.footer-user-navigation li {
  opacity: 0.7;
}

.footer-user-navigation li:hover {
  opacity: 1;
}

.footer-user-navigation li:active {
  opacity: 0.3;
}

.modal label {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.modal input {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  border: none;
}

.modal input::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input:hover {
  opacity: 0.8;
}

.modal input:hover::placeholder {
  opacity: 0.4;
}

.modal input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: #000000;
}

.modal input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}

.modal textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  resize: none;
  border: none;
}

.modal textarea::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea:hover {
  opacity: 0.8;
}

.inner-page h1 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
  color: #000000;
}

.breadcrumbs li:hover{
   opacity: 0.6;
 }

.breadcrumbs li:active{
  opacity: 0.1;
}

.filters {
  background-color: #eeeeee;
}

.filters h2,
.sorting h2 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.sorting {
  background-color: rgba(0, 0, 0, 0.08);
  /*opacity: 0.08;*/
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.color-filter ul,
.bluetooth-filter ul {
  list-style: none;
}

.color-checkbox,
.bluetooth-radio{
  display: none;
}

.color-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
}

.color-checkbox:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-on.svg");
  opacity: 1;
}

.color-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox:checked:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-off.svg");
  opacity: 1;
}

.color-checkbox:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-off.svg");
}

.color-checkbox:checked:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:checked:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox + label,
.bluetooth-radio + label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.bluetooth-radio + label::before {
  content: url("../img/radio-off.svg");
}

.bluetooth-radio:hover + label::before {
  opacity: 0.6;
}

.bluetooth-radio:active + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:checked + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:disabled + label {
  color: #a6a6a6;
}

.bluetooth-radio:disabled + label::before {
  opacity: 0.25;
}

.bluetooth-radio:disabled:active + label::before {
  content: url("../img/radio-off.svg");
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item span {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.sorting-type-radio,
.sorting-order-radio {
  display: none;
}

.sorting-types-list,
.sorting-order-list {
  list-style: none;
}

.sorting-type-radio + label {
  color: #000000;
  opacity: 0.3;
}

.sorting-order-radio + label {
  opacity: 0.2;
}

.sorting-type-radio + label:hover{
  opacity: 0.6;
}

.sorting-order-radio + label:hover {
  opacity: 0.4;
}

.sorting-type-radio + label:active,
.sorting-order-radio + label:active {
  opacity: 1;
}

.sorting-type-radio:checked + label,
.sorting-order-radio:checked + label,
.sorting-type-radio:checked + label:hover,
.sorting-order-radio:checked + label:hover,
.sorting-type-radio:checked + label:active,
.sorting-order-radio:checked + label:active {
  opacity: 1;
}

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
  font-family: Gilroy-ExtraBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.pages-list {
  list-style: none;
}

.pages-list a {
  color: #000000;
  opacity: 0.3;
}

.pages-list a:hover {
  opacity: 0.6;
}

.pages-list a:active {
  opacity: 1;
}

.current-page a:hover,
.previous-page a:hover,
.next-page a:hover,
.current-page a:active,
.previous-page a:active,
.next-page a:active {
  opacity: 1;
}

.previous-page:hover,
.next-page:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous-page:active a,
.next-page:active a {
  opacity: 0.3;
}

.previous-page a,
.next-page a,
.current-page a {
  opacity: 1;
}

/* ------- Сеточные стили --------- */

html,
body {
  /* Временно для сетки */
  min-width: 1440px;
  min-height: 2795px;
}

body {
   /*Временно для сетки*/
  background-image: url("../img/index-page-grid.jpg");
  background-size: 1440px auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.header-main {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;

  /* Временно для сетки */
  background-color: transparent;
  min-height: 186px;
}

.header-wrapper {
  position: relative;
  width: 1044px;
  padding: 40px 58px;
  padding-bottom: 15px;

  /* Временно для сетки */
  min-height: 55px;
}

.header-logo-wrapper {
  position: absolute;
  width: 163px;
  height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  top: -18px;

  /* Временно для сетки */
  min-height: 36px;
}

.main-user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1044px;

  /* Временно для сетки */
  min-height: 36px;
}

.main-navigation {
  margin: 30px 0;
  padding: 0;
  width: 1044px;

  /* Временно для сетки */
  min-height: 36px;
}

.search {
  width: 440px;
  margin-right: auto;
}

.main-cart-link {
  width: 95px;
  margin-left: 30px;
}

.main-compare-link {
  width: 100px;
  /*margin-left: 200px;*/
}

.main-login-link {
  width: 90px;
  margin-right: 200px;
}

.user-name-link {
  width: 170px;
  margin-right: 10px;
}

.main-logout-link {
  width: 55px;
  margin-right: 50px;
}

.main-site-navigation {
  display: flex;
  padding: 0;
  margin: 0;

  /* Временно для сетки */
  min-height: 36px;
}

.dropdown-catalog-nav {
  width: 260px;
  margin-right: auto;
}

.delivery-nav {
  width: 125px;
}

.warranty-nav {
  width: 115px;
  margin-left: 35px;
}

.contacts-nav {
  width: 120px;
  margin-left: 110px;
}

.dropdown-column ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown {
  position: absolute;
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*justify-content: flex-start;*/
  box-sizing: border-box;
  margin: 0;
  padding: 15px 58px;
  width: 1160px;
  height: 155px;
  left: 0;
  top: 143px;

  background-color: #f8e297;

  /* Временно для сетки */
  /*min-height: 129px;*/
  /*display: flex;*/
  background-color: transparent;
}

.dropdown-element {
  width: 220px;
  /*margin-bottom: 10px;*/

  /* Временно для сетки */
  min-height: 36px;
}

.dropdown-element a {
  letter-spacing: 0.15px;
}
