@font-face {
  font-family: "Gilroy-ExtraBold";
  src:
    url("../fonts/gilroyextrabold.woff") format("woff");
    url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Light";
  src:
    url("../fonts/gilroylight.woff") format("woff");
    url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../fonts/opensans.woff") format("woff");
    url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Light";
  src:
    url("../fonts/opensanslight.woff") format("woff");
    url("../fonts/opensanslight.woff2") format("woff2");
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.inner-page {
  min-height: 1975px;
}

.container {
  margin: 0 auto;
}

.inner-page .container {
  width: 100%;
}

.inner-page h1 {
  margin-left: -1px;
}

.page-title {
  margin: 0;
  letter-spacing: 0.91px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: #000000;
  text-decoration: none;
}

.header-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 1044px;
  padding: 22px 58px;
  padding-bottom: 15px;
}

.inner-page .header-wrapper {
  min-height: 186px;
}

.header-main {
  width: 1160px;
  margin: 0 auto;

  background: linear-gradient(180deg, #ffffff 40px, #f8e297 40px);
}

.inner-page .header-main {
  min-height: 226px;
}

.header-logo-wrapper {
  width: 164px;
  height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  margin: 23px 0;
  margin: 23px 0;
  margin-bottom: 0;
  padding: 0;
  width: 1044px;
}

.main-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  min-height: 36px;
}

.main-user-navigation,
.main-site-navigation,
.dropdown {
  list-style: none;
}

.main-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 1044px;
  min-height: 36px;
}

.search {
  margin-right: auto;
}

.search form {
  position: relative;
}

.search form::before {
  content: url("../img/search.svg");
  position: absolute;

  width: 16px;
  height: 16px;
  top: 12px;
  left: 5px;
}

.search-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 356px;
  height: 49px;
  padding-left: 40px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-input:placeholder-shown {
  opacity: 0.3;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus,
.search-input:active{
  border-bottom: 2px solid #000000;
}

.search-input:focus + .search-button,
.search-button:active {
  display: inline-block;
  vertical-align: middle;
}

.search-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;

  width: 85px;
  height: 47px;
  padding: 0;
  margin-left: -2px;
  margin-top: -4px;
  border: none;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  outline: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active span{
  opacity: 0.3;
}

.nav-button a {
  position: relative;

  line-height: 49px;
}

.nav-button {
  vertical-align: middle;
  text-align: right;
  letter-spacing: 0.15px;
}

.main-login-link {
  position: relative;

  width: 90px;
  margin-right: 206px;
}

.main-login-link::before {
  content: url("../img/user.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  top: 9px;
  left: 20px;
}

.main-logout-link {
  width: 55px;
  margin-right: 53px;

  opacity: 0.3;
}

.main-compare-link {
  position: relative;

  width: 100px;
}

.main-compare-link::before {
  content: url("../img/compare.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  top: 9px;
  left: 8px;
}

.user-name-link {
  position: relative;

  width: 170px;
  margin-right: 10px;
}

.user-name-link::before {
  content: url("../img/user.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  top: 9px;
  left: 12px;
}

.main-cart-link {
  position: relative;

  width: 95px;
  margin-left: 29px;
  padding-right: 2px;
}

.main-cart-link::before {
  content: url("../img/cart.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  top: 9px;
  left: 11px;
}

.main-login-link:hover,
.main-logout-link:hover,
.main-compare-link:hover,
.main-cart-link:hover,
.user-name-link:hover {
  opacity: 0.6;
}

.main-login-link:active,
.main-logout-link:active,
.main-compare-link:active,
.main-cart-link:active,
.user-name-link:active {
  opacity: 0.3;
}

.page-nav-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 37px;
  padding-left: 60px;
  padding-bottom: 46px;
  width: 1160px;
}

.site-nav-element a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-nav-element a:hover {
  opacity: 0.6;
}

.site-nav-element a:active {
  opacity: 0.3;
}

.dropdown {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;

  margin: 0;
  padding: 15px 60px;
  width: 1160px;
  min-height: 157px;
  left: -58px;

  background-color: #f8e297;
}


.dropdown-element {
  width: 220px;
  margin-bottom: 1px;
  margin-right: 19px;
}

.site-nav-element:hover .dropdown,
.dropdown-link:focus + .dropdown,
.dropdown:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dropdown-element a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;
}

.dropdown-column:nth-child(2) .dropdown-element {
  width: 182px;
}

.dropdown-column ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-catalog-nav {
  position: relative;

  width: 260px;
  max-width: 260px;
  margin-right: auto;
  padding-left: 1px;
}

.dropdown-catalog-nav::after {
  content: url("../img/plus.svg");
  position: absolute;

  width: 16px;
  height: 16px;
  top: 4px;
  right: 13px;
}

.delivery-nav {
  width: 125px;
}

.warranty-nav {
  width: 115px;
  margin-left: 34px;
}

.contacts-nav {
  width: 120px;
  margin-left: 108px;
}

.inner-page .contacts-nav {
  width: 121px;
}

.slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 78px;
  min-height: 40px;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  list-style: none;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  background: -o-linear-gradient(top, #f8e297 142px, #ffffff 142px);
  background: linear-gradient(180deg, #f8e297 142px, #ffffff 142px);
}

.slider-pagination-item {
  width: 12px;
  min-height: 40px;
}



.slides-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.slide-img-wrapper {
  width: 599px;
}

.slide-1-img {
  margin-top: 31px;
  margin-left: 90px;
}

.slide-2-img {
  margin-top: 43px;
  margin-left: 116px;
}

.slide-3-img {
  margin-top: 96px;
  margin-left: 31px;
}

.slide-info-wrapper {
  position: relative;
  padding-top: 95px;
  width: 561px;
  min-height: 518px;
}

.slide-info-wrapper::before {
  content: "";
  position: absolute;

  width: 100px;
  height: 7px;
  top: 68px;
  left: 1px;

  background-color: #ffffff;
}

.slide-1 .slide-content,
.slide-2 .slide-content,
.slide-3 .slide-content {
  display: none;
}

input:checked + .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-number {
  position: absolute;
  top: 17px;
  right: 46px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.slide-2 .slide-number {
  top: 18px;
  right: 49px;
}

.slide-3 .slide-number {
  top: 18px;
  right: 50px;
}

.slide-title {
  position: relative;
  margin: 14px 0;
  margin-bottom: 16px;
  letter-spacing: 0.4px;
  z-index: 1;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}

.slide-description {
  margin: 1px 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.slide-2 .slide-description,
.slide-3 .slide-description {
  margin-right: 100px;
  margin-left: 0;
}

.btn-and-pagination-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 42px;
  margin-left: 1px;
}

.slide-2 .btn-and-pagination-wrapper,
.slide-3 .btn-and-pagination-wrapper {
  margin-top: 43px;
}

.pagination-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 78px;
  margin-right: 83px;
}

.pagination-slide-btn {
  display: block;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 14px;
  min-height: 14px;
  margin-top: 9px;
}

.slide-1-input:checked + .slide-content .pagination-slide-btn[for="slide-1"],
.slide-2-input:checked + .slide-content .pagination-slide-btn[for="slide-2"],
.slide-3-input:checked + .slide-content .pagination-slide-btn[for="slide-3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-table {
  width: 560px;
  margin: 40px 0;
  margin-top: 42px;
  margin-left: -2px;
}

.slide-3 .slide-table {
  margin-top: 43px;
}

.slide-2 .slide-table {
  margin-top: 43px;
}

.slide-2 td {
  padding-left: 0px;
}

.first-row {
  height: 48px;
  margin-bottom: 5px;

  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.second-row {
  height: 33px;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.slide-2 .second-row {
  height: 30px;
  margin-left: 5px;
}

.slide-3 .second-row {
  height: 28px;
}

.column-1 {
  padding: 0;
  padding-left: 1px;
  width: 160px;
}

.column-2 {
  padding: 0;
  padding-left: 2px;
  width: 138px;
}

.column-3 {
  padding: 0;
  padding-left: 2px;
  width: 259px;
}

.second-row .column-3 {
  padding-left: 4px;
}

.slide-3 .column-2 {
  padding-left: 1px;
}

.main-section-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 322px;
}

.button {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 40px;
  padding: 8px 20px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.5px;
  color: #000000;
  word-wrap: break-word;

  border: none;

  background: -o-linear-gradient(bottom, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));
  background: linear-gradient(0deg, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));

  cursor: pointer;
}

.compare-button {
  cursor: pointer;
}

.button:hover {
  background: #f0c52e;
}

.button:active {
  color: #a78920;
}

.slide-button {
  width: 220px;
  padding-left: 25px;

  color: #000000;

  background: -o-linear-gradient(bottom, transparent calc(50% - 1px), #f0c52e calc(50% - 1px), #f0c52e calc(50% + 7px), transparent calc(50% + 7px));
  background: linear-gradient(0deg, transparent calc(50% - 1px), #f0c52e calc(50% - 1px), #f0c52e calc(50% + 7px), transparent calc(50% + 7px));
}

.slide-button:active {
  color: #a78920;
}

.services-button {
  display: block;

  width: 160px;
  min-height: 40px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  background: -o-linear-gradient(bottom, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));
  background: linear-gradient(0deg, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));
  border: none;
}

.services-button:focus {
  /*outline: -moz-default-color;*/
}

.delivery-button {
  padding: 8px 0;
  padding-left: 13px;
}

.services-slide-1-input:checked ~ .services-slider-pagination .delivery-button {
  padding-left: 5px;
}

.warranty-button {
  padding: 8px 0;
  padding-left: 5px;
}

.services-slide-2-input:checked ~ .services-slider-pagination .warranty-button {
  padding-left: 13px;
}

.credit-button {
  padding: 9px 0;
  padding-left: 3px;
}

.services-slide-3-input:checked ~ .services-slider-pagination .credit-button {
  padding-left: 13px;
}

.vr-logo {
  margin-top: 52px;
  margin-left: 31px;
}

.monopods-logo {
  margin-top: 41px;
  margin-left: 38px;
}

.action-cameras-logo {
  margin-top: 38px;
  margin-left: 49px;
}

.fitness-bracelet-logo {
  margin-top: 49px;
  margin-left: 28px;
}

.smart-watches-logo {
  margin-top: 32px;
  margin-left: 55px;
}

.quadcopters-logo {
  margin-top: 49px;
  margin-left: 13px;
}

.catalog-item-name {
  display: block;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.18px;
  color: #000000;
}

.section-catalog-item:nth-child(4) .catalog-item-name {
  margin-right: -6px;
}

.services {
  background-color: #e5e5e5;
}

.services-slider-pagination {
  position: relative;

  width: 277px;
  padding: 80px 0;
  margin: 0;

  list-style: none;
}

.services-slider-pagination::after {
  content: "";
  position: absolute;

  width: 7px;
  height: 319px;
  left: 277px;
  top: 0px;

  background-color: #000000;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  list-style: none;
}

.service-description-wrapper {
  width: 500px;
}

.service-description-wrapper h3{
  margin-top: 3px;
  margin-bottom: 28px;
  margin-left: 1px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.service-description-wrapper p{
  padding-right: 63px;
  margin-top: 31px;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.services-slide {
  display: none;
}

.services-slides-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 875px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 115px;

  list-style: none;
}

.services-slider-pagination-item {
  margin-bottom: 24px;
  min-height: 40px;
}

.services-slider-pagination-item:nth-child(2) {
  margin-bottom: 25px;
}

.services-slide .slide-content {
  min-height: 318px;
}

.service-logo-wrapper {
  width: 260px;
  min-height: 328px;
}

.delivery-slide .service-logo-wrapper {
  min-height: 318px;

  background-image: url("../img/delivery-logo.svg");
  background-repeat: no-repeat;
  background-position: 58px 14px;
}

.warranty-slide .service-logo-wrapper {
  min-height: 327px;
  margin-top: -9px;

  background-image: url("../img/warranty-logo.svg");
  background-repeat: no-repeat;
  background-position: 42px 0;
}

.credit-slide .service-logo-wrapper {
  background-image: url("../img/credit-logo.svg");
  background-repeat: no-repeat;
  background-position: 34px 1px;
  margin-top: -10px;
}

.credit-logo {
  margin-top: -9px;
  margin-left: 33px;
}

.services-slide-1-input:checked ~ .services-slides-list .delivery-slide,
.services-slide-2-input:checked ~ .services-slides-list .warranty-slide,
.services-slide-3-input:checked ~ .services-slides-list .credit-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slide-1-input:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(1),
.services-slide-2-input:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(2),
.services-slide-3-input:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(3) {
  background-color: #000000;
}

.services-slide-1-input:checked ~ .services-slider-pagination .delivery-button,
.services-slide-2-input:checked ~ .services-slider-pagination .warranty-button,
.services-slide-3-input:checked ~ .services-slider-pagination .credit-button {
  background: #000000;
  color: #f7e184;
}

.services-slider-wrapper {
  width: 100%;
  background: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);
  background: linear-gradient(180deg, #ffffff 100px, #e5e5e5 100px);
}

.logotypes {
  width: 1160px;
  margin-top: 94px;
  margin-right: auto;
  margin-bottom: 93px;
  margin-left: auto;
}

.logotypes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 1157px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gopro-logo {
  margin-left: 2px;
}

.product-logo-colorless {
  display: block;
}

.product-logo-colorful {
  display: none;
}

.logotypes-item:hover .product-logo-colorless{
  display: none;
}

.logotypes-item:hover .product-logo-colorful,
.product-logo-colorful:hover{
  display: block;
}

.about-us {
  position: relative;
  width: 477px;
  margin-left: -1px;
}

.contacts {
  position: relative;
  width: 562px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us::before {
  left: 1px;
}

.contacts::before {
  margin-left: 2px;
}

.about-us h2,
.contacts h2{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.about-us p,
.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.information {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.information h2 {
  margin: 52px 0;
  margin-bottom: 43px;

  line-height: 48px;
}

.information p {
  margin: 32px 0;
}

.delivery-companies {
  list-style: none;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 53px;
  margin-left: 3px;
  padding: 0;
}

.delivery-companies li {
  margin: 1px 0;
  letter-spacing: 0.1px;
}

.delivery-companies li::before {
  content: url("../img/list-dot.svg");
  margin-right: 25px;
}

.delivery-companies a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.about-us-button {
  width: 260px;
  margin-left: 1px;
  padding-left: 6px;
  padding-right: 0;

  color: #000000;
}

.about-us-button:active {
  color: #a78920;
}

.map-wrapper {
  display: block;

  margin-top: 39px;
  margin-left: 2px;
  width: 560px;
  height: 222px;

  cursor: pointer;
}

.write-us-link {
  display: block;

  width: 260px;
  margin-top: 69px;
  margin-left: 2px;
  padding-left: 25px;

  color: #000000;
}

.write-us-link:active {
  color: #a78920;
}

.footer-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  padding-bottom: 30px;
}

.footer-main {
  width: 100%;

  color: #ffffff;

  background-color: #464646;
}

.footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 1160px;

  margin-bottom: 35px;
}

.footer-container:last-child::before {
  content: "";
  position: absolute;

  width: 80px;
  height: 7px;
  top: 15px;

  background-color: #ffc600;
}

.footer-contacts-number {
  margin: 0;
  padding: 0;
  width: 205px;

  text-align: right;
  color: #ffffff;
}


.footer-container:last-child {
  margin-top: 55px;
}

.footer-logo-wrapper {
  width: 164px;
  height: 36px;
  margin-top: -1px;
}

.inner-page .footer-logo-wrapper {
  margin-top: 0;
  margin-left: -1px;
}

.footer-logo:hover,
.htmlacademy-logo:hover {
  opacity: 0.6;
}

.footer-logo:active,
.htmlacademy-logo:active {
  opacity: 0.3;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 141px;
  margin-top: 2px;
  margin-left: 509px;
  margin-right: 483px;
  padding: 0;
}

.footer-social li {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 36px;

  color: #ffffff;

  opacity: 0.3;
}

.footer-social li:hover {
  opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}

.footer-contacts-address {
  margin: 0;
  margin-left: -1px;
  padding: 0;
  width: 205px;
  min-height: 36px;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.footer-list {
  list-style: none;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  margin-left: auto;
  padding: 0;
  width: auto;

  letter-spacing: 0.15px;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  margin-top: 2px;
  padding: 0;
  width: 450px;
}

.footer-site-navigation a {
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-site-navigation li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 150px;

  text-align: center;
}

.footer-site-navigation li:nth-child(2) {
  padding-left: 7px;
}

.footer-site-navigation li:nth-child(3) {
  padding-left: 7px;
}

.footer-site-navigation li:hover {
  opacity: 0.6;
}

.footer-site-navigation li:active {
  opacity: 0.3;
}

.footer-list a{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-user-navigation a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}

.footer-user-navigation li {
  opacity: 0.7;
}

.footer-user-navigation li:hover {
  opacity: 1;
}

.footer-user-navigation li:active {
  opacity: 0.3;
}

.footer-button {
  text-align: right;
}

.footer-user-name-link {
  position: relative;

  width: 170px;
  margin-left: auto;
}

.footer-user-name-link::before {
  content: url("../img/user-yellow.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  left: 13px;
  top: 3px;
}

.footer-logout-link {
  width: 55px;
  margin-left: 10px;
}

.footer-login-link {
  position: relative;

  width: 80px;
  margin-left: auto;
}

.footer-login-link::before {
  content: url("../img/user-yellow.svg");
  position: absolute;

  width: 13px;
  height: 12px;
  left: 11px;
  top: 3px;
}

.footer-compare-link {
  position: relative;

  width: 100px;
  margin-left: 33px;
}

.footer-compare-link::before {
  content: url("../img/compare-yellow.svg");
  position: absolute;

  width: 10px;
  height: 10px;
  left: 11px;
  top: 3px;
}

.footer-cart-link {
  position: relative;

  width: 90px;
  margin-left: 33px;
}

.footer-cart-link::before {
  content: url("../img/cart-yellow.svg");
  position: absolute;

  width: 12px;
  height: 12px;
  left: 8px;
  top: 3px;
}

.inner-page h1 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  margin-top: 24px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: #000000;
}

.breadcrumbs a,
.breadcrumbs-current {
  opacity: 0.3;
}

.breadcrumbs a:hover{
  opacity: 0.6;
}

.breadcrumbs a:active{
  opacity: 0.1;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: url("../img/nav-arrow.svg");
  position: absolute;

  width: 5px;
  height: 8px;
  top: -1px;
  right: -13px;
}

.index-page-link {
  width: 60px;
  margin-right: 30px;
}

.catalog-page-link {
  width: 120px;
  margin-right: 30px;
}

.monopods-page-link {
  width: 150px;
}

.catalog-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dcdcdc), color-stop(50%, #ebebeb));
  background: -o-linear-gradient(left, #dcdcdc 50%, #ebebeb 50%);
  background: linear-gradient(90deg, #dcdcdc 50%, #ebebeb 50%);
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
}

.catalog-header-filter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px 61px;
  width: 328px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.filters h2,
.sorting h2 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.color-filter ul,
.bluetooth-filter ul {
  list-style: none;
}

.color-item {
  position: relative;
}

.color-checkbox,
.bluetooth-radio{
  display: none;
}

.color-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;

  top: 6px;
  left: -39px;
}

.color-checkbox:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-on.svg");
  opacity: 1;
}

.color-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox:checked:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-off.svg");
  opacity: 1;
}

.color-checkbox:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-off.svg");
}

.color-checkbox:checked:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:checked:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox + label,
.bluetooth-radio + label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.bluetooth-radio + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;

  top: 7px;
  left: -40px;
}

.bluetooth-radio:hover + label::before {
  opacity: 0.6;
}

.bluetooth-radio:active + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:checked + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:disabled + label {
  color: #a6a6a6;
}

.bluetooth-radio:disabled + label::before {
  opacity: 0.25;
}

.bluetooth-radio:disabled:active + label::before {
  content: url("../img/radio-off.svg");
}

.section-catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.section-catalog-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 160px;
}

.section-catalog-item:nth-child(2) .catalog-item-name {
  width: 120px;
}

.catalog-item-logo-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f8e297;
}


.section-catalog-item:hover .catalog-item-logo-wrapper {
  background-color: #f0c52e;
}

.section-catalog-item:active .catalog-item-name,
.section-catalog-item:active img{
  opacity: 0.3;
}

.catalog-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ebebeb), color-stop(50%, #ffffff));
  background: -o-linear-gradient(left, #ebebeb 50%, #ffffff 50%);
  background: linear-gradient(90deg, #ebebeb 50%, #ffffff 50%);
}

.catalog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
}

.catalog-item h3 {
  margin-left: -1px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.18px;
}

.catalog-item:nth-child(3) h3 {
  margin-right: -5px;
}

.catalog-item-price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-left: 70px;
  width: 832px;

  background-color: #ebebeb;
}

.sorting-title {
  width: 150px;
  margin-top: 23px;
  margin-right: 36px;
  margin-bottom: 23px;
  margin-left: 3px;

  letter-spacing: 3.5px;
}


.sorting-type-radio,
.sorting-order-radio {
  display: none;
}

.sorting-types-list,
.sorting-order-list {
  list-style: none;
}

.sorting-types-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 320px;
  margin: 0;
  padding: 0;
}

.sorting-order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 41px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 2px;
}

.sorting-types-list a,
.sorting-order-list a {
  line-height: 65px;

  color: #000000;
  opacity: 0.3;

  cursor: pointer;
}

.sorting-order-list a {
  opacity: 0.2;
}

.sorting-types-list li {
  text-align: center;
}

.sorting-order-list a {
  opacity: 0.2;
}

.sorting-types-list a:hover {
  opacity: 0.6;
}

.sorting-order-list a:hover {
  opacity: 0.4;
}

.sorting-types-list a:active,
.sorting-order-list a:active {
  opacity: 1;
}

.current-type a,
.current-order a {
  opacity: 1;
}

.sorting-by-price {
  width: 65px;
  margin: 0 10px;
}

.sorting-by-type {
  width: 65px;
  margin: 0 7px;
}

.sorting-by-popularity {
  width: 130px;
  margin: 0 13px;
}

.sorting-usual-order,
.sorting-reverse-order {
  width: 11px;
}

.filters {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 69px;
  padding-right: 69px;
  padding-left: 59px;
  width: 328px;
}

.filters legend {
  position: relative;
}

.filters legend::after {
  content: "";
  position: absolute;

  width: 201px;
  height: 2px;
  left: 0;
  top: 0;

  background-color: #000000;
}


.price-filter {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  min-height: 140px;
  margin: 0;
  padding: 0;
}

.price-filter legend {
  line-height: 48px;
  letter-spacing: 0.18px;
}

.price-filter label {
  display: inline-block;

  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.2;
  vertical-align: middle;
  color: #000000;

  cursor: pointer;
}

.price-filter input {
  height: 24px;
  width: 65px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-range {
  margin: 23px 0;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  width: 54%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  content: "";
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;

  width: 20px;
  height: 22px;

  cursor: pointer;
  tab-index: 0;
}

.range-toggle:focus {
  outline: 2px solid #f0c52e;
}

.range-toggle:active {
  transform: scale(1.1);
}

.range-toggle-min {
  left: -5px;
}

.range-toggle-max {
  left: 54%;
}

.price-controls {
  margin: 5px 0;
}

.color-filter {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  min-height: 285px;
  margin: 0;
  padding: 0;
}

.color-filter legend {
  line-height: 48px;
}

.color-list {
  margin: 0;
  margin-top: 6px;
  margin-left: 38px;
  padding: 0;
}

.bluetooth-filter {
  position: relative;

  margin: 0;
  padding: 0;
}

.bluetooth-filter legend {
  line-height: 48px;
  letter-spacing: 0.18px;
}

.bluetooth-list {
  margin: 0;
  margin-top: 5px;
  margin-left: 39px;
  padding: 0;
}

.bluetooth-item {
  position: relative;
}

.filters-form .button {
  width: 200px;
  margin-top: 32px;
  margin-left: -1px;
  padding-left: 26px;
}

.catalog {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 19px;
  padding-bottom: 77px;
  padding-left: 72px;
  width: 832px;

  background-color: #ffffff;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 40px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  /*min-height: 475px;*/
  /*margin-bottom: 20px;*/
  margin-top: 9px;
}

.catalog-item .catalog-item-price {
  display: block;

  width: 100px;

  line-height: 58px;
  text-align: right;
  white-space: nowrap;
}

.catalog-item:nth-child(2) .catalog-item-price {
  width: 151px;
}

.new-item::before {
  content: url("../img/new-icon.png");
  position: absolute;
  top: 27px;
  right: 27px;
}

.item-img-wrapper {
  width: 360px;
  height: 380px;
}

.item-buttons-wrapper {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 360px;
  height: 380px;
  padding: 80px;
  padding-top: 170px;

  text-align: center;

  background-color: rgba(238, 238, 238, 0.7);
}

.to-cart-button {
  display: block;
  width: 200px;
  min-height: 40px;
  padding: 0;
  line-height: 40px;

  background: -o-linear-gradient(bottom, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));
  background: linear-gradient(0deg, transparent calc(50% - 4px), #f0c52e calc(50% - 4px), #f0c52e calc(50% + 4px), transparent calc(50% + 4px));
}

.to-cart-button span {
  width: 200px;
  min-height: 40px;
  display: block;
  position: static;


  line-height: 40px;
  text-align: center;
}


.compare-button {
  background: none;
  border: none;

  margin-top: 7px;
}

.compare-button {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  opacity: 0.5;
  color: #000000;
}

.compare-button:hover {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

.item-img-wrapper:hover .item-buttons-wrapper,
.item-buttons-wrapper:hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-top: 15px;
  margin-bottom: 20px;
}

.item-wrapper h3 {
  display: block;
}

.pagination {
  margin: 0;
  margin-top: -1px;

  background-color: rgba(0, 0, 0, 0.08);
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pages-list a {
  color: #000000;
  opacity: 0.3;
}

.pages-list a:hover {
  opacity: 0.6;
}

.pages-list a:active {
  opacity: 1;
}

.previous-page {
  width: 130px;
  margin-right: auto;

  text-align: center;
  letter-spacing: 3.5px;
  line-height: 70px;
}

.page-number {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  min-width: 40px;
  padding-top: 2px;

  text-align: center;
  letter-spacing: 3.5px;
  line-height: 68px;
}

.current-page {
  padding-left: 6px;
}

.next-page {
  width: 130px;
  margin-left: auto;

  text-align: center;
  letter-spacing: 3.5px;
  line-height: 70px;
}

.current-page a:hover,
.previous-page a:hover,
.next-page a:hover,
.current-page a:active,
.previous-page a:active,
.next-page a:active {
  opacity: 1;
}

.previous-page:hover,
.next-page:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous-page:active a,
.next-page:active a {
  opacity: 0.3;
}

.previous-page a,
.next-page a,
.current-page a {
  opacity: 1;
}

.modal {
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  z-index: 10;
}

.modal-write-us {
  position: fixed;

  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 150px;
  left: 50%;
  margin-left: -480px;

  width: 960px;
  height: 558px;
  padding-top: 94px;
  padding-right: 100px;
  padding-left: 100px;

  background-color: #ffffff;
}

.modal-write-us input {
  margin-top: 5px;
}

.name-email-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 29px;
}

.input-wrapper {
  width: 360px;
}

.modal input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 360px;
  height: 50px;
  padding: 10px 20px;
  padding-bottom: 14px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  border: none;
}

.modal label {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.modal textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 760px;
  height: 156px;
  padding: 10px 20px;
  padding-top: 14px;
  margin-bottom: 30px;
  margin-top: 5px;
  border: none;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  resize: none;
}

.modal-button {
  background: -o-linear-gradient(bottom, transparent calc(50% - 5px), #f0c52e calc(50% - 5px), #f0c52e calc(50% + 3px), transparent calc(50% + 3px));
  background: linear-gradient(0deg, transparent calc(50% - 5px), #f0c52e calc(50% - 5px), #f0c52e calc(50% + 3px), transparent calc(50% + 3px));
  padding-left: 23px;
}

.modal-map {
  position: fixed;
  display: none;
  z-index: 10;

  top: 150px;
  left: 50%;
  width: 960px;
  height: 559px;
  margin-left: -480px;

  background-color: #ffffff;
}

.modal-map img {
  z-index: 11;
}

.modal-map iframe {
  position: absolute;
  border: none;
  z-index: 12;

  top: 0;
  left: 0;
}

.modal-write-us-close,
.modal-map-close {
  position: absolute;
  content: "";

  margin: 0;
  padding: 0;
  border: none;
  top: 27px;
  right: 22px;

  opacity: 0.5;
  background: transparent;
  cursor: pointer;
  z-index: 13;
}

.modal-write-us-close:hover,
.modal-map-close:hover {
  opacity: 1;
}

.modal-write-us-close:active,
.modal-map-close:active {
  opacity: 0.3;
}

.modal .button {
  width: 200px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input:hover {
  opacity: 0.8;
}

.modal input:hover::-webkit-input-placeholder {
  opacity: 0.4;
}

.modal input:hover::-moz-placeholder {
  opacity: 0.4;
}

.modal input:hover:-ms-input-placeholder {
  opacity: 0.4;
}

.modal input:hover::-ms-input-placeholder {
  opacity: 0.4;
}

.modal input:hover::placeholder {
  opacity: 0.4;
}

.modal input:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
  color: #000000;
}

.modal input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}

.modal textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea::-ms-input-placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea:hover {
  opacity: 0.8;
}

.modal textarea:focus {
  background-color: #ffffff;
  outline: 3px solid #f0c52e;
  color: #000000;
}
