@font-face {
  font-family: Gilroy-ExtraBold;
  src:
    url("../fonts/gilroyextrabold.woff") format("woff");
url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: Gilroy-Light;
  src:
    url("../fonts/gilroylight.woff") format("woff");
url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans;
  src:
    url("../fonts/opensans.woff") format("woff");
url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans-Light;
  src:
    url("../fonts/opensanslight.woff") format("woff");
url("../fonts/opensanslight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: #000000;
  text-decoration: none;
}

.header-main {
  background-color: #f8e297;
}

.main-header-logo:hover {
   opacity: 0.6;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.main-user-navigation,
.main-site-navigation,
.dropdown {
  list-style: none;
}

.search-input {
  box-sizing: border-box;

  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-input:placeholder-shown {
  opacity: 0.3;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus,
.search-input:active{
  border-bottom: 2px solid #000000;
}

.search-input:focus + .search-button,
.search-button:active {
  display: inline-block;
}

.search-button {
  box-sizing: border-box;
  display: none;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  outline: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: #ffffff;

  background-color: #000000;
  opacity: 0.3;
}

.main-logout-link {
  opacity: 0.3;
}

.main-login-link:hover,
.main-logout-link:hover,
.main-compare-link:hover,
.main-cart-link:hover,
.user-name-link:hover {
  opacity: 0.6;
}

.main-login-link:active,
.main-logout-link:active,
.main-compare-link:active,
.main-cart-link:active,
.user-name-link:active {
  opacity: 0.3;
}

.site-nav-element a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-nav-element a:hover {
  opacity: 0.6;
}

.site-nav-element a:active {
  opacity: 0.3;
}

.dropdown {
  display: none;
}

.site-nav-element:hover .dropdown,
.dropdown:hover {
  display: flex;
}

.dropdown-element a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.slides-list {
  list-style: none;
}

.slide-1 .slide-content,
.slide-2 .slide-content,
.slide-3 .slide-content {
  display: none;
}

input:checked + .slide-content {
  display: flex;
}

.slide-number {
  position: absolute;
  top: 17px;
  right: 47px;
  z-index: -1;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: #ffffff;
  /*color: #000000; !*должен быть белым в итоговой верстке*!*/
}

.slide-title {
  margin: 15px 0;
  margin-bottom: 19px;
  letter-spacing: 0.4px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.button {
  box-sizing: border-box;
  height: 40px;
  /*padding-top: 14px;*/

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.5px;
  color: #000000;

  border: none;


  background: linear-gradient(0deg, transparent 8px, #f0c52e 8px, #f0c52e 16px, transparent 16px);

  /* Временно для сетки */
  /*background: transparent;*/
}

.button:hover {
  background: #f0c52e;
}

.button:active span{
  opacity: 0.3;
}

.about-us .button {
  width: 260px;
  margin-bottom: 0;
}

.first-row {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.second-row {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.section-list {
  list-style: none;
}

.section-item div{
  background-color: #f8e297;
}

.section-item span {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.section-item:hover div {
  background-color: #f0c52e;
}

.section-item:active img,
.section-item:active span {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.services-list {
  list-style: none;
}

.services-button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  background: linear-gradient(0deg, transparent 8px, #f0c52e 8px, #f0c52e 16px, transparent 16px);
  border: none;
}

.services-button:active {
  /*color: #f7e184;*/

  /*background-color: #000000;*/
}

.service-description-wrapper h3{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.service-description-wrapper p{
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.services-slide {
  display: none;
}

#services-slide-1:checked ~ .services-slides-list .delivery-slide,
#services-slide-2:checked ~ .services-slides-list .warranty-slide,
#services-slide-3:checked ~ .services-slides-list .credit-slide {
  display: flex;
}

#services-slide-1:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(1),
#services-slide-2:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(2),
#services-slide-3:checked ~ .services-slider-pagination .services-slider-pagination-item:nth-child(3) {
  background-color: #000000;
}

#services-slide-1:checked ~ .services-slider-pagination .delivery-button,
#services-slide-2:checked ~ .services-slider-pagination .warranty-button,
#services-slide-3:checked ~ .services-slider-pagination .credit-button {
  background: #000000;
  color: #f7e184;
}

/*#services-slide-1:checked ~ .services-slider-pagination .delivery-button:hover,*/
/*#services-slide-2:checked ~ .services-slider-pagination .warranty-button:hover,*/
/*#services-slide-3:checked ~ .services-slider-pagination .credit-button:hover {*/
  /*background-color: #000000;*/
/*}*/

.logotypes-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  min-height: 100px;
}

.product-logo {
  filter: grayscale(1);
  opacity: 0.3;
}

.product-logo:hover {
  filter: none;
  opacity: 1;
}

.about-us h2,
.contacts h2{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.about-us p,
.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.delivery-companies a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.footer-main {
  color: #ffffff;

  background-color: #464646;
}

.footer-logo:hover,
.htmlacademy-logo:hover {
  opacity: 0.6;
}

.footer-logo:active,
.htmlacademy-logo:active {
  opacity: 0.3;
}

.footer-social li {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social li:hover {
   opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}

.footer-contacts-address {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer-list {
  list-style: none;
}

.footer-site-navigation a {
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-site-navigation li:hover {
  opacity: 0.6;
}

.footer-site-navigation li:active {
  opacity: 0.3;
}

.footer-social li {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social li:hover {
  opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}

.footer-list a{
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-user-navigation a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
}

.footer-user-navigation li {
  opacity: 0.7;
}

.footer-user-navigation li:hover {
  opacity: 1;
}

.footer-user-navigation li:active {
  opacity: 0.3;
}

.modal label {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.modal input {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  border: none;
}

.modal input::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal input:hover {
  opacity: 0.8;
}

.modal input:hover::placeholder {
  opacity: 0.4;
}

.modal input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: #000000;
}

.modal input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}

.modal textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: #e5e5e5;
  opacity: 0.5;
  resize: none;
  border: none;
}

.modal textarea::placeholder {
  color: #000000;
  opacity: 0.4;
}

.modal textarea:hover {
  opacity: 0.8;
}

.inner-page h1 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
  color: #000000;
}

.breadcrumbs li:hover{
   opacity: 0.6;
 }

.breadcrumbs li:active{
  opacity: 0.1;
}

.filters {
  /*background-color: #eeeeee;*/
}

.filters h2,
.sorting h2 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.sorting {
  background-color: #ebebeb;
  /*background-color: rgba(0, 0, 0, 0.08);*/
  /*opacity: 0.08;*/

  /*Временно для сетки*/
  /*background-color: transparent;*/

}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.color-filter ul,
.bluetooth-filter ul {
  list-style: none;
}

.color-checkbox,
.bluetooth-radio{
  display: none;
}

.color-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
}

.color-checkbox:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-on.svg");
  opacity: 1;
}

.color-checkbox:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox:checked:hover + label::before {
  opacity: 0.6;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-off.svg");
  opacity: 1;
}

.color-checkbox:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:active + label::before {
  content: url("../img/checkbox-off.svg");
}

.color-checkbox:checked:disabled + label {
  color: #a6a6a6;
}

.color-checkbox:checked:disabled + label::before {
  opacity: 0.25;
}

.color-checkbox:checked:active + label::before {
  content: url("../img/checkbox-on.svg");
}

.color-checkbox + label,
.bluetooth-radio + label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.bluetooth-radio + label::before {
  content: url("../img/radio-off.svg");
}

.bluetooth-radio:hover + label::before {
  opacity: 0.6;
}

.bluetooth-radio:active + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:checked + label::before {
  content: url("../img/radio-on.svg");
}

.bluetooth-radio:disabled + label {
  color: #a6a6a6;
}

.bluetooth-radio:disabled + label::before {
  opacity: 0.25;
}

.bluetooth-radio:disabled:active + label::before {
  content: url("../img/radio-off.svg");
}

.section-catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item span {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.sorting-type-radio,
.sorting-order-radio {
  display: none;
}

.sorting-types-list,
.sorting-order-list {
  list-style: none;
}

.sorting-type-radio + label {
  color: #000000;
  opacity: 0.3;
}

.sorting-order-radio + label {
  opacity: 0.2;
}

.sorting-type-radio + label:hover{
  opacity: 0.6;
}

.sorting-order-radio + label:hover {
  opacity: 0.4;
}

.sorting-type-radio + label:active,
.sorting-order-radio + label:active {
  opacity: 1;
}

.sorting-type-radio:checked + label,
.sorting-order-radio:checked + label,
.sorting-type-radio:checked + label:hover,
.sorting-order-radio:checked + label:hover,
.sorting-type-radio:checked + label:active,
.sorting-order-radio:checked + label:active {
  opacity: 1;
}

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
  font-family: Gilroy-ExtraBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.pages-list {
  list-style: none;
}

.pages-list a {
  color: #000000;
  opacity: 0.3;
}

.pages-list a:hover {
  opacity: 0.6;
}

.pages-list a:active {
  opacity: 1;
}

.current-page a:hover,
.previous-page a:hover,
.next-page a:hover,
.current-page a:active,
.previous-page a:active,
.next-page a:active {
  opacity: 1;
}

.previous-page:hover,
.next-page:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous-page:active a,
.next-page:active a {
  opacity: 0.3;
}

.previous-page a,
.next-page a,
.current-page a {
  opacity: 1;
}

/* ------- Сеточные стили --------- */

/*html,*/
/*body {*/
  /*!* Временно для сетки *!*/
  /**/
/*}*/

body {
   /*Временно для сетки*/
  /*min-width: 1440px;*/
  min-height: 2795px;
  /*background-image: url("../img/index-page-grid.jpg");*/
  /*background-size: 1440px auto;*/
  /*background-repeat: no-repeat;*/
  /*background-position: top center;*/
}

.inner-page {
  min-height: 2015px;
  /*background-image: url("../img/catalog-page-grid.jpg");*/
  /*background-size: 1440px auto;*/
  /*background-repeat: no-repeat;*/
  /*background-position: top center;*/
}

.header-main {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;

  /* Временно для сетки */
  /*background-color: transparent;*/
  min-height: 156px;
}

.header-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 1044px;
  padding: 40px 58px;
  padding-bottom: 15px;

  /* Временно для сетки */
  min-height: 186px;
}

.header-logo-wrapper {
  position: absolute;
  width: 163px;
  height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  top: -18px;

  /* Временно для сетки */
  min-height: 36px;
}

.main-user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1044px;

  /* Временно для сетки */
  min-height: 36px;
}

.main-navigation {
  margin: 30px 0;
  margin-bottom: 0;
  padding: 0;
  width: 1044px;

  /* Временно для сетки */
  min-height: 36px;
}

.search {
  width: 440px;
  margin-right: auto;
}

.main-cart-link {
  width: 95px;
  margin-left: 30px;
}

.main-compare-link {
  width: 100px;
  /*margin-left: 200px;*/
}

.main-login-link {
  width: 90px;
  margin-right: 200px;
}

.user-name-link {
  width: 170px;
  margin-right: 10px;
}

.main-logout-link {
  width: 55px;
  margin-right: 50px;
}

.main-site-navigation {
  display: flex;
  padding: 0;
  margin: 0;

  /* Временно для сетки */
  min-height: 36px;
}

.dropdown-catalog-nav {
  width: 260px;
  margin-right: auto;
}

.delivery-nav {
  width: 125px;
}

.warranty-nav {
  width: 115px;
  margin-left: 35px;
}

.contacts-nav {
  width: 120px;
  margin-left: 110px;
}

.dropdown-column ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown {
  position: absolute;
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*justify-content: flex-start;*/
  box-sizing: border-box;
  margin: 0;
  padding: 15px 58px;
  width: 1160px;
  height: 155px;
  left: 0;
  top: 143px;

  background-color: #f8e297;

  /* Временно для сетки */
  /*min-height: 129px;*/
  /*display: flex;*/
  /*background-color: transparent;*/
}

.dropdown-element {
  width: 220px;
  /*margin-bottom: 10px;*/

  /* Временно для сетки */
  min-height: 36px;
}

.dropdown-element a {
  letter-spacing: 0.15px;
}

.container {
  /*width: 1160px;*/
  margin: 0 auto;
  /*margin-top: 1590px;*/

  /* Временно для сетки */
  min-height: 2276px;
}

.inner-page .container {
  width: 100%;

  /* Временно для сетки */
  min-height: 1466px;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  background: linear-gradient(180deg, #f8e297 143px, #ffffff 143px);

  /* Временно для сетки */
  min-height: 518px;
  /*background: transparent;*/
}

.slides-list {
  padding: 0;
  margin: 0;
}

.slide-img-wrapper {
  width: 599px;

  /* Временно для сетки */
  min-height: 518px;
}

.slide-1-img {
  margin-top: 30px;
  margin-left: 90px;
}

.slide-2-img {
  margin-top: 42px;
  margin-left: 116px;
}

.slide-3-img {
  margin-top: 95px;
  margin-left: 31px;
}

.slide-info-wrapper {
  position: relative;
  padding-top: 95px;
  width: 561px;

  /* Временно для сетки */
  min-height: 518px;
}

.slide-description {
  margin: 1px 0;
}

.btn-and-pagination-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.slide-button {
  box-sizing: border-box;
  width: 220px;

  /* Временно для сетки */
  /*background-color: transparent;*/
}

.pagination-wrapper {
  box-sizing: border-box;
  width: 78px;
  margin-right: 83px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-slide-btn {
  content: url("../img/slider-button-empty.svg");
}

#slide-1:checked + .slide-content .pagination-slide-btn[for="slide-1"],
#slide-2:checked + .slide-content .pagination-slide-btn[for="slide-2"],
#slide-3:checked + .slide-content .pagination-slide-btn[for="slide-3"] {
  content: url("../img/slider-button.svg");
}

.slide-table {
  margin: 40px 0;
  width: 560px;
  /* Временно для сетки */
  min-height: 80px;
}

.first-row {
  line-height: 47px;
  height: 48px;
  margin-bottom: 5px;

  letter-spacing: 0.36px;

  /* Временно для сетки */
  min-height: 47px;
}

.second-row {
  line-height: 20px;
  height: 20px;

  letter-spacing: 0.13px;

  /* Временно для сетки */
  min-height: 20px;
}

.column-1 {
  padding: 0;
  width: 160px;
}

.column-2 {
  padding: 0;
  width: 138px;
}

.column-3 {
  padding: 0;
  width: 259px;
  /*width: 155px;*/
}

.main-section-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-top: 10px;

  /* Временно для сетки */
  min-height: 322px;
}

.catalog-item-logo-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 30px;

  background-color: #f8e297;
}



.services-button {
  width: 160px;
  height: 40px;

  line-height: 40px;

  /* Временно для сетки */
  /*background-color: transparent;*/
}

.vr-logo {
  margin-top: 52px;
  margin-left: 31px;
}

.monopods-logo {
  margin-top: 41px;
  margin-left: 38px;
}

.action-cameras-logo {
  margin-top: 38px;
  margin-left: 49px;
}

.fitness-bracelet-logo {
  margin-top: 49px;
  margin-left: 28px;
}

.smart-watches-logo {
  margin-top: 32px;
  margin-left: 55px;
}

.quadcopters-logo {
  margin-top: 49px;
  margin-left: 13px;
}

.catalog-item-name {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.services-slider-wrapper {
  /*margin-top: 90px;*/
  width: 100%;
  background: linear-gradient(180deg, #ffffff 100px, #e5e5e5 100px);

  /* Временно для сетки */
  min-height: 388px;
  /*background: transparent;*/
}

.services-slider {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;

  /* Временно для сетки */
  min-height: 388px;
}

.services-slider-pagination {
  width: 277px;
  padding: 80px 0;
  margin: 0;

  list-style: none;
}

.services-slides-list {
  box-sizing: border-box;
  width: 875px;
  margin: 0;
  padding: 0;
  padding-left: 115px;
  padding-top: 70px;

  list-style: none;
}

.slider-pagination-item {


  /* Временно для сетки */
  min-height: 40px;
}

.services-slider-pagination-item {
  margin-bottom: 25px;
  height: 40px;
}

.services-slide .slide-content {
  /*display: flex;*/
  /* Временно для сетки */
  min-height: 318px;
}



.service-description-wrapper {
  width: 500px;

  /* Временно для сетки */
  min-height: 318px;
}

.service-description-wrapper h3 {
  margin-top: 3px;
  margin-bottom: 28px;
  margin-left: 1px;

  /* Временно для сетки */
  min-height: 51px;
}

.service-description-wrapper p {
  padding-right: 50px;

  letter-spacing: 0.15px;
}

.service-logo-wrapper {
  width: 260px;

  /* Временно для сетки */
  min-height: 318px;
}

.delivery-logo {
  margin-top: 15px;
  margin-left: 58px;
}

.warranty-logo {
  margin-top: -11px;
  margin-left: 42px;
}

.credit-logo {
  margin-top: -11px;
  margin-left: 34px;
}

.logotypes {
  width: 1160px;
  margin-top: 94px;
  margin-right: auto;
  margin-bottom: 93px;
  margin-left: auto;

  /* Временно для сетки */
  min-height: 100px;
}

.logotypes-list li {
  width: 290px;
}

.information {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 89px;
  display: flex;
  justify-content: space-between;

}

.information h2 {
  margin: 50px 0;

  line-height: 48px;
  /* Временно для сетки */
}

.information p {
  line-height: 30px;
}

.delivery-companies {
  list-style: none;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 48px;
  padding: 0;
}

.delivery-companies li::before {
  content: url("../img/list-dot.svg");
  margin-right: 25px;
}

.about-us {
  width: 488px;

  /* Временно для сетки */
  min-height: 566px;
}

.contacts {
  width: 562px;

  /* Временно для сетки */
  min-height: 566px;
}

.map-wrapper {
  margin-top: 35px;
  margin-left: 1px;
  width: 560px;
  height: 222px;
}

.contacts .button {
  width: 260px;
  margin-top: 60px;
  margin-left: 1px;
}

.footer-main {
  width: 100%;

  /* Временно для сетки */
  /*margin-top: 1466px;*/
  min-height: 323px;
  /*background-color: transparent;*/
}

.footer-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 140px;
  padding-bottom: 30px;
  width: 1440px;

  /* Временно для сетки */
  min-height: 323px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  /* Временно для сетки */
  min-height: 36px;
}

.footer-container li {
  text-align: center;
}

.footer-contacts-number {
  text-align: right;
}

.footer-contacts-address {
  text-align: left;
}

.footer-container:last-child {
  margin-top: 55px;
}

.footer-logo-wrapper {
  width: 164px;
  height: 36px;
}

.footer-user-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: auto;

  /* Временно для сетки */
  min-height: 36px;
}

.footer-login-link {
  width: 80px;
  margin-left: auto;
}

.footer-user-name-link {
  width: 170px;
  margin-left: auto;
}

.footer-logout-link {
  width: 55px;
  margin-left: 10px;
}

.footer-compare-link {
  width: 100px;
  margin-left: 30px;
}

.footer-cart-link {
  width: 90px;
  margin-left: 30px;
}

.footer-contacts-address {
  margin: 0;
  padding: 0;
  width: 205px;

  /* Временно для сетки */
  min-height: 36px;
}

.footer-contacts-number {
  margin: 0;
  padding: 0;
  width: 205px;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 450px;
}

.footer-site-navigation li {
  width: 150px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 509px;
  padding: 0;
  width: 141px;

  /* Временно для сетки */
  min-height: 36px;
}

.footer-social li {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 36px;
}

.htmlacademy-logo-wrapper {
  margin: 0;
  padding: 0;
  width: 27px;
  height: 36px;
}

.page-nav-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  /*margin-bottom: 30px;*/
  /*padding: 40px 60px;*/
  padding-top: 37px;
  padding-left: 60px;
  padding-bottom: 15px;
  width: 1160px;

  /* Временно для сетки */
  min-height: 179px;
}

.page-title {
  margin: 0;
  /* Временно для сетки */
  min-height: 48px;

  letter-spacing: 0.91px;
}

.breadcrumbs {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: flex;

  /* Временно для сетки */
  min-height: 24px;
}

.index-page-link {
  width: 60px;
  margin-right: 30px;
}

.catalog-page-link {
  width: 120px;
  margin-right: 30px;
}

.monopods-page-link {
  width: 150px;
}

.catalog-section {
  /* Временно для сетки */
  min-height: 1287px;
}

.catalog-header-wrapper {
  display: flex;
  background: linear-gradient(90deg, #dcdcdc 50%, #ebebeb 50%);

  /* Временно для сетки */
  min-height: 70px;
  /*background: transparent;*/
}

.catalog-header {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1160px;

  /* Временно для сетки */
  min-height: 70px;
}

.catalog-header-filter {
  box-sizing: border-box;
  padding: 23px 60px;
  width: 328px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  /* Временно для сетки */
  min-height: 70px;
}

.sorting {
  display: flex;
  box-sizing: border-box;
  padding-left: 70px;
  width: 832px;

  /* Временно для сетки */
  min-height: 70px;
}

.sorting-title {
  width: 150px;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 40px;

  letter-spacing: 3.5px;
}

.sorting-types-list {
  display: flex;
  width: 320px;
  margin: 0;
  padding: 0;
}

.sorting-types-list li {
  text-align: center;

}

.sorting-types-list label {
  line-height: 65px;
}

.sorting-order-list {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sorting-order-list label {
  line-height: 65px;
}

.sorting-by-price {
  width: 65px;
  margin: 0 10px;
}

.sorting-by-type {
  width: 65px;
  margin: 0 10px;
}

.sorting-by-popularity {
  width: 130px;
  margin: 0 10px;
}

.sorting-usual-order,
.sorting-reverse-order {
  width: 11px;
}

.catalog-main-wrapper {
  display: flex;
  background: linear-gradient(90deg, #ebebeb 50%, #ffffff 50%);

  /* Временно для сетки */
  min-height: 1217px;
  /*background: transparent;*/
}

.catalog-main {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 1160px;

  /* Временно для сетки */
  min-height: 1217px;
}

.filters {
  box-sizing: border-box;
  padding-top: 69px;
  padding-right: 69px;
  padding-left: 59px;
  width: 328px;

  /* Временно для сетки */
  /*min-height: 138px;*/
  /*background-color: transparent;*/
}

.filters-form {
  /* Временно для сетки */
  min-height: 620px;
}

.price-filter {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 140px;
}

.price-filter legend {
  line-height: 46px;
}

.price-filter input {
  width: 200px;
  margin-top: 20px;
}

.color-filter {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 285px;
}

.color-filter legend {
  line-height: 46px;
}

.color-list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.bluetooth-filter {
  margin: 0;
  padding: 0;
}

.bluetooth-filter legend {
  line-height: 46px;
}

.bluetooth-list {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.filters-form .button {
  width: 200px;
  margin-top: 30px;
}

.catalog {
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 77px;
  padding-left: 72px;
  width: 832px;
  background-color: #ffffff;

  /* Временно для сетки */
  /*background-color: transparent;*/
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.items {
  /*min-height: 1001px;*/
}

.catalog-item {
  width: 360px;
  height: 475px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.item-img-wrapper {
  width: 360px;
  height: 380px;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.catalog-item  span {
  width: 100px;

  line-height: 60px;
  text-align: right;

}

.catalog-item:nth-child(2)  span {
  width: 150px;
}

.catalog-item h3 {
  letter-spacing: 0.18px;
}

.section-catalog-list {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  /*min-height: 1000px;*/
}

.section-catalog-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 160px;

  /* Временно для сетки */
  min-height: 250px;
}

.section-catalog-item:hover .catalog-item-logo-wrapper {
  background-color: #f0c52e;
}

.section-catalog-item:active .catalog-item-name,
.section-catalog-item:active img{
  opacity: 0.3;
}

.pagination {
  margin: 0;

  /* Временно для сетки */
  min-height: 70px;
  /*background-color: transparent;*/
}

.pages-list {
  display: flex;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 70px;
}

.previous-page {
  width: 130px;
  margin-right: auto;

  text-align: center;
  letter-spacing: 3.5px;
  line-height: 70px;
}

.page-number {
  width: 40px;


  text-align: center;
  letter-spacing: 3.5px;
  line-height: 70px;
}

.next-page {
  width: 130px;
  margin-left: auto;

  text-align: center;
  letter-spacing: 3.5px;
  line-height: 70px;
}

.modal {
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-write-us {
  position: relative;
  box-sizing: border-box;
  width: 960px;
  height: 553px;
  margin: 0 auto;
  padding: 100px;
}

.name-email-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-wrapper {
  width: 360px;
}

.modal input[type="text"],
.modal input[type="email"] {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 360px;
}

.modal textarea {
  box-sizing: border-box;
  width: 760px;
  height: 156px;
  padding: 10px 20px;
  margin-bottom: 45px;
}

.modal-close {
  position: absolute;
  margin: 0;
  padding: 0;
  content: "";
  top: 22px;
  right: 22px;
}

.modal-map {
  position: relative;
  width: 960px;
  height: 559px;
  margin: 0 auto;
}

.modal button {
  background: transparent;
  border: none;
}
